{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo</title>
    <link rel="stylesheet" type="text/css"
          href="{% static "extjs/build/classic/theme-neptune/resources/theme-neptune-all.css" %}"/>
    <script src="{% static "extjs/build/ext-all.js" %}"></script>
    <script src="{% static "extjs/build/classic/theme-neptune/theme-neptune.js" %}"></script>

    <link rel="stylesheet" href="{% static 'css/database.css' %}">
</head>
<body>
<div>
    <h1>Список обращений</h1>
</div>

<div>
    <div class="page-header">
        {% if user.is_authenticated %}
{#            <a href="{% url 'database_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>#}
        {% else %}
            <p class="top-menu">Hello {{ user.username }}
                <small>(<a href="{% url 'logout' %}">Log out</a>)</small>
            </p>
        {% endif %}
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>